{% extends "registration/base.html"%}

{% block content %}
<form action="/registration/sign_up/" method="post">
  {% csrf_token %}
  <div>
    <label>
      <div>First Name</div>
      <input type="text" name="first_name">
    </label>
  </div>
  <div>
    <label>
      <div>Last Name</div>
      <input type="text" name="last_name">
    </label>
  </div>
  <div>
    <label>
      <div>Email</div>
      <input type="email" name="email">
    </label>
  </div>
  <div>
    <label>
      <div>Password</div>
      <input type="password" name="password">
    </label>
  </div>
  <button class="form_button">Create Account</button>
</form>
{% endblock %}